<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automation Web Interface</title>


</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold mb-4">DRB</h1>
        <div class="grid grid-cols-3 gap-4">
            {% for sop_name in sop_names %}
                <button class="bg-blue-500 text-white px-4 py-2 rounded">
                    {{ sop_name }}
                </button>
            {% endfor %}
        </div>
    </div>
</body>
</html>
